@font-face {
    font-family: nunitoNew;
    src: url(../fonts/Nunito/Nunito-Regular.ttf)
}

.itemCard{
    font-family: nunitoNew;
    color: rgb(48, 47, 47);
    width: 200px;
    height: 400px;
}

#itemImg{
    object-fit: cover;
    border: 1px solid grey;
    width: 200px;
    height: 200px;  
}

.itemDesc{
    border: 1px solid grey ;
    line-height: 5px;
    margin-top: 5px;
}