@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* navbar start */
#a{
  position: relative;
  left:45%;
}

.main{
  position: relative;
  display: fixed;
  font-family: 'Lato', sans-serif;
  
}
li,button:hover{
  color:rgb(4, 21, 66);
}


  /* dropdown  code start */
.dropbtn {
  background-color: ;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: lightblue ;}

  /* dropdown end  */
/* navbar end */