.navbar{
    min-height: 70px;
    background-color: rgb(235, 230, 230);
}
.logo{
    margin-left: 30px;
}
.user{
    font-size: 25px;
}

#r{
    left: auto;
    display: inline-flex;
    margin-right: 30px;
}

.searchinp{
    border: none;
    border-radius: 20px;
    padding: 5px 80% 5px 20px; 
}

.form{
    margin-right: 30px;
    display: none;
    
}
.srchbtn{
    color: rgb(73, 72, 72);
    margin: 3px 20px 0 -30px;
    font-size: 20px;
}

.btn{
    background-color: rgb(187, 182, 182);
    margin-left: -40px;
    border-radius: 20px;
}

#close{
    font-size: 25px;
    margin: 6px 5px 0 5px;
}

#searchbar{
    background-color: green;
    min-height: 50px;
    display: none;
}